<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Fraldometro.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>55AB7E491BBB6C7100D18767</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55AB7E5D1BBB6C7100D18767</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55AB7E681BBB6C7100D18767</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
